*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#topunchanged {
    display: flex;
}

.amount input[type="number"] {
    width: 40px;
}

.quickconvert {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: fit-content; /* Adjust width based on content */
}

.quickconvert form {
    display: flex;
    align-items: center;
    gap: 12px; /* space between the children */
}

#conversionForm {
    display: flex;
    align-items: center;
    gap: 28px; /* space between the children */
    background-color: bisque;
    margin-top: 6px;
    margin-left: 2px;
}

#inside1st, #inanotherto {
    display: flex;
    
    justify-content: center;
    
    font-size: 14px;
    border: 1px solid #ccc;
    margin-top: 4px;
    cursor: pointer;
}

#inside1st:hover, #inanotherto:hover {
    background-color: #e0e0e0;
}


.unitFor1,
.divmiddle,
.divright {
    display: flex;
    align-items: center;
}

.unitFor1 input[type = "number"] {
    
    max-width: 40px

}

#quickConvert-btn {
    
    margin-top: 5px;
    margin-left: 20px;
    
    
}

.datesAndResult {
    display: flex;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    gap: 12px; /* space between the children */
    background-color: #f9f9f9;
    width: fit-content; /* Adjust width based on content */
} 

.dateInfo, .resultMiddle, .resultRight {
    border: 1px solid #ccc;
    width: fit-content;
}

.resultHere {
    display: none
}
